<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Wall</title>
</head>
<body>
    <a href="/logout">Logout</a>

    <div>
        <h1></h1>

        {% if messages %}
            {%for message in messages%}
                <p>{{message['first_name']}} said:</p>
                <p>{{message['message']}}</p>
            {% endfor %}  
        {% endif %}
    </div>

    <div>
    {% if users %}
        {%for user in users%}
            <p>Message {{user['first_name']}}:</p>
            <form action="/send" method="POST">
                <input type="text" name="text">
                <input type="hidden" value="{{user['id']}}" name="to_id">
                <input type="submit" value="Send">
            </form>
        
            {% endfor %}  
    {% endif %}
    <!-- {{user}} -->
    </div>

</body>
</html>